.full-width-container {
	padding-top: 45px;
	padding-bottom: 0;
	background-color: #fff;
}

.container {
	max-width: 700px;
	margin: 30px auto 0 auto;
}

.previous {
	float: left;
	font-size: 20px;
}

.descriptor {
	font-size: 24px;
	color: #b3b3b1;
}
.burn {
	//position
	display: block;
	text-align: center;

	//font
	color: #333;
	font-size: 125px;
	line-height: 1;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight: 700;
}

.inputs {
	//position
	overflow: hidden;

	//font
	font-size: 52px;
	color: #333;
	line-height: 3;
}
.revenues {
	float: left;
	margin: 10px 0 0 0;
	line-height: 1.5;
}
#revenues {
	float: left;
}
.rev-growth{
	float: left;
	margin: 15px 0 0 0;
	font-size: 20px;
}
#rev-growth{


}
.expenses {
	float: right;
	margin: 10px 0 0 0;
	padding: 0 0 0 20px;
	line-height: 1.5;
	span {
		padding: none;
		margin: none;	
	}	
	overflow: hidden;
}
#expenses {
	float: left;
}
.exp-growth {
	float: left;
	margin: 15px 0 0 0;
	font-size: 20px;
}

.cash-balance {
	//position
	margin: 50px 0 0 0;
	text-align: center;
	float: center;
	//font
	color: #333332;
	line-height: 1.5;
	font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	font-weight: 400;
	font-size: 32px;

	overflow: hidden;
}
#cash {
	//float: left;

}